[user]
name = Tugrul Ates
email = me@tugrulates.com
[commit]
gpgsign = true
[tag]
gpgsign = true
[alias]
lg = log --graph --oneline --all --decorate
s = status -s
b = town switch
pr = !git compress || true && git town propose
compress = !git town sync && git town compress
hack = town hack
append = town append
prepend = town prepend
set-parent = town set-parent
rename = town rename
delete = town delete
sync = town sync --all
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[core]
autocrlf = input
editor = code --wait
excludesFile = ~/.gitignore
# win: fileMode = false
[init]
defaultBranch = main
[rerere]
enabled = true
autoupdate = true
[gui]
encoding = utf-8
[git-town]
ship-delete-tracking-branch = false
ship-strategy = api
sync-feature-strategy = rebase
